.todo {
    margin: 0;
    padding: 100px 0;
    background-color: black;
}

.todo__title {
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
}

.todo__subtitle {
    margin: 15px auto 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #c0c0c0;
}

.todo__container {
    display: flex;
    margin: 0 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 30px 15px 0 15px;
    position: relative;
    width: 580px;
    height: 600px;
}

.card__img {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    /* object-fit: cover; */
}

.card__info {
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.card__title {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.card__subtitle {
    margin: 10px 0 0 0;
    font-size: 16px;
    line-height: 20px;
    color: #c0c0c0;
    height: 80px;
    max-width: 250px;
}

.card__btn {
    width: 143px;
    border: none;
    background-color: #ffffff;
    height: 42px;
    border-radius: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    transition: all 0.2s linear 0s;
    box-shadow: 0px 5px #ddc0c0, 0px 10px 10px rgb(0 0 0 / 25%);
}





.card__btn:hover {
    cursor: pointer;
    transform: translateY(5px);
    box-shadow: 0px 0px transparent, 0px 5px 10px rgb(0 0 0 / 25%);
    color: white;
    background-color: #000000;
    border: 3px white solid;
}

